/*flex布局*/

.flex {
    display: flex;
}

.flex_1 {
    flex: 1
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_l {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex_r {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex_x_center {
    display: flex;
    justify-content: center;
}

.flex_x_between {
    display: flex;
    justify-content: space-between;
}

.flex_y_center {
    display: flex;
    align-items: center;
}

.flex_y_start {
    display: flex;
    align-items: flex-start;
}

.flex_y_end {
    display: flex;
    align-items: flex-end;
}

.flex_y_baseline {
    display: flex;
    align-items: baseline;
}

.el-input-number__decrease,
.el-input-number__increase {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: rgba(153, 153, 153, 1);
}