// [SLS] body,html初始化设置 (仅可修改值)
$view_width: 100%; // 宽度
$view_height: auto; // 高度
$view_min_width: 320px; // 最小宽度
$view_max_width: 100%; // 最大宽度

// [SLS] 栅格布局设置 (仅可修改值)
$grid_num: 24; // 总格数
$grid_screen_map: ( // 栅格屏幕大小配置列表
  xl: 1200px,
  lg: 960px,
  md: 720px,
  sm: 540px,
  xs: 360px
);

// [SLS] 单位及转换比例设置 (仅可修改值)
$unit: px;
$pxToUnit: 1;

// [THEME] 常用变量 (仅可修改值及新增)
$title_bar_h: 44px; // 标题栏高度
$tab_bar_h: 50px; // 底部选项卡高度
$header_h: 80px; // 头部高度
$footer_h: 100px; // 底部高度
$banner_h: 600px; // banner高度

$divide: 20px; // 元素间距
$divide_s: 10px; // 元素间距Small
$divide_m: 30px; // 元素间距Middle

$radius: 10px; // 元素圆角
$radius_s: 6px; // 元素圆角Small
$radius_m: 20px; // 元素圆角Middle

// [THEME] 边框颜色 (自定义)
$border_color: #eee;

// [THEME] 背景颜色 (仅可修改值及新增)
$bg_color: #ffffff;
$bg_color_grey: #f8f8f8;
$bg_color_hover: #f1f1f1;
$bg_color_mask: rgba(0, 0, 0, 0.4);
$bg_color_fixed: rgba(255,255,255,0.5);

// [THEME] 行为颜色 (仅可修改值及新增，新增需要增加对应map)
$color_primary: #027db4;
$color_success: #4cd964;
$color_warning: #f0ad4e;
$color_error: #dd524d;
$color_import: red;

$color_tips_map:( // 用于循环生成行为颜色class: tip-*
  primary: $color_primary,
  success: $color_success,
  warning: $color_warning,
  error: $color_error,
  import: $color_import
);

// [THEME] 字体颜色 (仅可修改值及新增，新增需要增加对应map)
$char_color: #333;
$char_color_inverse: #fff;
$char_color_grey: #999;
$char_color_placeholder:  #808080;
$char_color_disable: #c0c0c0;

$color_char_map:( // 用于循环生成字体颜色class: char-*
  normal: $char_color,
  inverse: $char_color_inverse,
  placeholder: $char_color_placeholder,
  disable: $char_color_disable
);

// [THEME] 字体大小 (仅可修改值及新增，新增需要增加对应map)
$fs_default: 12px;
$fs_title: 32px;
$fs_middle: 28px;
$fs_small: 18px;
$fs_mini: 12px;

$fs_map:( // 用于循环生成字体class: fs-*
  default: $fs_default,
  title: $fs_title,
  middle: $fs_middle,
  small: $fs_small,
  mini: $fs_mini
);
